{% extends "base.html" %}
{% block content %}
<head>
 <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
 <script src="/static/JS/authentication.js"></script>
</head>

<div class="bg-login">
 <div class="login-box">
  <div id="firebaseui-auth-container" class="firebase-box"></div>
  <div id=login-info hidden=true>
  {% if user_data %}
  <dl class="text-white">
  <dt >Logged in as:</dt><dd>{{ user_data['email'] }}</dd>
  {% elif error_message %}
  <p>Error: {{ error_message }}</p>
  {% endif %}
 </div>
 <button id="orders" class="btn btn btn-outline-light" hidden=true onclick="window.location='https://assignment-328920.ew.r.appspot.com/orders'">My Orders</button>
 <button id="sign-out" class="btn btn btn-outline-light" hidden=true>Sign Out</button>
 </div>
</div>
{% endblock %} 